@font-face {
	font-family: "bauhaus";
	src: url("../fonts/BAUHS93.TTF");
}

body {
	/*background-color: #489CCE;*/
	background-image: url(../img/background-img.jpg);
}

/** Estilização do corpo **/

.logo {
	height: 100px;
	padding-top: 190px;
	font-family: "bauhaus";
	font-size: 200px;
	color: #cd2626;
}

.align-center {
	text-align: center;
}

.slogan {
	font-size: 22px;
	padding-bottom:100px;
	color: #5A5A5A;
}

.titles {
	font-size: 25px;
	color: #cd2626;
	text-align: center;
}

p {
	color: #5A5A5A;	
}