@font-face {
	font-family: "bauhaus";
	src: url("../fonts/BAUHS93.TTF");
}

body {
	/*background-color: #489CCE;*/
	background-image: url(../img/background-img.jpg);
}


/** Estilização do corpo **/

.logo {
	font-family: "bauhaus";
	font-size: 220px;
	color: #CD2626;
}

.first-part {
	height: 200px;
	padding-left: 130px;
	padding-top: 50px;
}

.second-part {
	padding-right: 140px;
	height: 130px;
}

.align-center {
	text-align: center;
}

.slogan {
	font-size: 24px;
	text-align: center;
}
