/************************************************************************************
Desktops and laptops 
*************************************************************************************/
@media only screen and (min-width: 799px) and (max-width: 1152px) { 
    .logo {
        font-family: "bauhaus";
        font-size: 160px;
        color: #cd2626;
        padding-top: 100px;
    }

    .slogan {
        font-size: 16px;
        padding-bottom:50px;
        text-align: center;
    }

}

@media screen and (max-width: 800px) {
    body {
        padding-top: 0;
    }

    .navbar-inverse .nav-collapse .nav > li > a {
        color: #cd2626;
    }

    .logo {
        font-family: "bauhaus";
        font-size: 120px;
        color: #cd2626;
        padding-top: 100px;
    }

    .navbar .nav > li > a {
        border-top: 4px solid #fff;
        padding: 0px;
    }

    .slogan {
        font-size: 16px;
        padding-bottom:50px;
        text-align: center;
    }
}

@media only screen and (min-width: 361px) and (max-width: 640px) { 
    .logo {
        font-family: "bauhaus";
        font-size: 100px;
        color: #cd2626;
        padding-top: 70px;
    }

    .slogan {
        font-size: 16px;
        padding-bottom:40px;
        text-align: center;
    }

}

@media only screen and (max-width: 360px) {
    body {
        padding-top: 0;
    }

    .brand-logo {
        display: none;
    }

    .navbar-inverse .nav-collapse .nav > li > a {
        color: #cd2626;
    }

    .navbar .nav > li > a {
        border-top: 4px solid #fff;
        padding: 0px;
    }

    .logo {
        padding-top: 30px;
        font-family: "bauhaus";
        font-size: 45px;
        color: #cd2626;
        height: 40px;
    }

    .slogan {
        font-size: 14px;
        text-align: center;
        padding-bottom: 30px;
    }

    .titles {
        font-size: 20px;
    }

    .form-horizontal .controls {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 240px) {

    .logo {
        padding-top: 30px;
        font-family: "bauhaus";
        font-size: 30px;
        color: #cd2626;
        height: 40px;
    }
}

