.navbar-inverse .navbar-inner {
	background-color: #fff;
	border-bottom: 5px solid #cd2626;
}

.navbar .brand {
	font-family: "bauhaus";
	font-size: 40px;

}

.navbar-inverse .btn-navbar {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0e0e0e;
	background-image: -moz-linear-gradient(top, #cd2626, #cd2626);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cd2626), to(#cd2626));
	background-image: -webkit-linear-gradient(top, #cd2626, #cd2626);
	background-image: -o-linear-gradient(top, #cd2626, #cd2626);
	background-image: inear-gradient(to bottom, #cd2626, #cd2626);
	background-repeat: repeat-x;
	border-color: #cd2626;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff151515', endColorstr='#ff040404', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .brand {
	color: #cd2626;
}

.navbar-inverse .brand:hover {
	color: #cd2626;	
}

.navbar-inverse .btn-navbar:hover{
	color: #ffffff;
	background-color: #cd2626;
}

.navbar-inverse .nav > li > a {
	color: #cd2626;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a {
	border-top: 4px solid #fff;
	padding: 35px;
	/*padding: 22px 15px 9;*/
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
	display: block;
	border-top: 4px solid #cd2626 !important;
	background: #cd2626 !important;
	color: #fff !important;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:focus {
	color: #cd2626 !important;
	text-decoration: none;
	border-top: 4px solid #cd2626 !important;
	background-color: #fff !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Form da modal */
.form-horizontal .control-label {
	width: 60px;
}

.form-horizontal .controls {
	margin-left: 80px;
}