body {
	padding-top: 20px;
	padding-bottom: 40px;
	margin: 0;
	font-family: 'Merriweather Sans', sans-serif;
}

.masthead, .main, .footer {
	padding: 0 10em;
}

.container{
	width: 100%;
}

.hero-unit{
	background-color: #37ACC2;
	color: #FFF;
	border-radius: 0;
	padding: 5em 8em;
}

.main .row article{
	width: 30%;
}

.footer{
	padding: 2em 10em;
}
